Conversor DOCX2PDF/.idea
Conversor DOCX2PDF/build
Conversor DOCX2PDF/conversorDOCX2PDF.spec

Conversor PDF2DOCX/.idea
Conversor PDF2DOCX/build
Conversor PDF2DOCX/conversorPDF2DOCX.spec

Inserir texto em um DOCX/.idea
Inserir texto em um DOCX/build
Inserir texto em um DOCX/inserirTextoEmDOCX.spec

Obter Texto de um DOCX/.idea
Obter Texto de um DOCX/build
Obter Texto de um DOCX/obterTextoEmDOCX.spec

Tradutor Simples/.idea
Tradutor Simples/build
Tradutor Simples/tradutorSimples.spec