Conversor PDF2DOCX/.idea
Conversor PDF2DOCX/build
Conversor PDF2DOCX/conversorPDF2DOCX.spec

Obter Texto de um DOCX/.idea
Obter Texto de um DOCX/build
Obter Texto de um DOCX/obterTextoEmDOCX.spec

Tradutor Simples/.idea
Tradutor Simples/build
Tradutor Simples/obterTextoEmDOCX.spec